@font-face {
    font-family: StarJedi;
    src: url(fonts/Starjedi.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans.ttf);
}

:root {
    --shadow-value: 10rem;
    --shadow-color: black;
    --text: rgb(222, 222, 222);
}

* {
    font-size: 1.2rem;
    font-family: OpenSans;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    color: var(--text);
}

html,
body {
    font-size: 16px !important;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    background: black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 8rem;
    gap: 6rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

h2 {
    font-weight: 800;
    font-size: 4rem;
}

h1 {
    font-family: StarJedi;
    font-size: 10vw;
    text-align: center;
    line-height: 1;
    white-space: nowrap;
    width: fit-content;
    text-shadow: 0 0 2rem rgba(255, 255, 255, .5);
}

table {
    background-color: rgb(40, 40, 40);
}

table * {
    outline: 2px solid rgb(55, 55, 55);
    text-align: left;
}

thead,
thead tr {
    background-color: rgb(55, 55, 55);
}

th,
td {
    padding: .4rem 1rem;
}

th {
    font-size: 1.6rem;
    font-weight: 800;
}

#parallax,
#overlay {
    pointer-events: none;
    user-select: none;
}

#parallax {
    will-change: background-position-y;
    background-image: url(images/671306.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100vh;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    box-shadow: inset 0 0 10rem 5rem var(--shadow-color);
    border-radius: 0%;
    outline: 0rem solid var(--shadow-color);
}
