<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"/>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/mvp.css"/>
    <link rel="icon" href="images/favicon.png" type="image/png"/>
    <title>Star Wars Cluedo</title>
    <script src="../js/static.js" defer></script>
    <script src="../js/variables.js" defer></script>
    <script src="../js/functions.js" defer></script>
    <script src="../js/eventListeners.js" defer></script>
</head>
<body>

    <div id="parallax"></div>
    <div id="overlay"></div>

    <main>

        <div class="title-wrapper">
            <img class="logo" src="images/logo.svg"/>
            <h3>Cluedo</h3>
        </div>
        
        <div class="section-wrapper">
            <!-- Characters -->
            <section>
                <h2>Characters</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Special Ability</th>
                        <th>Personality</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="character : ${characters}">
                        <td th:text="${character.name}"></td>
                        <td th:text="${character.role}"></td>
                        <td th:text="${character.specialAbility}"></td>
                        <td th:text="${character.personality}"></td>
                    </tr>
                    </tbody>
                </table>
            </section>

            <!-- Weapons -->
            <section>
                <h2>Weapons</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Material</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="weapon : ${weapons}">
                        <td th:text="${weapon.name}"></td>
                        <td th:text="${weapon.type}"></td>
                        <td th:text="${weapon.material}"></td>
                    </tr>
                    </tbody>
                </table>
            </section>

            <!-- Rooms -->
            <section>
                <h2>Cantina Rooms</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Size</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="room : ${rooms}">
                        <td th:text="${room.name}"></td>
                        <td th:text="${room.size}"></td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>

        <div class="game" id="checkGuess">
            <h1>Take a guess!</h1>

            <form action="#" th:action="@{/checkGuess}" method="post">
                <span>
                    <label for="character">Who is the murderer?</label>
                    <select id="character" name="character">
                        <option th:each="character : ${characters}" th:text="${character.name}" th:value="${character.name}"></option>
                    </select>
                </span>

                <span>
                    <label for="weapon">What weapon did they use?</label>
                    <select id="weapon" name="weapon">
                        <option th:each="weapon : ${weapons}" th:text="${weapon.name}" th:value="${weapon.name}"></option>
                    </select>
                </span>

                <span>
                    <label for="room">Where did the murder take place?</label>
                    <select id="room" name="room">
                        <option th:each="room : ${rooms}" th:text="${room.name}" th:value="${room.name}"></option>
                    </select>
                </span>
        
                <button type="submit">Check</button>
            </form>
        
            <div th:if="${message}">
                <h2 th:text="${message}"></h2>
            </div>
        </div>

    </main>
    
</body>
</html>
