@font-face {
    font-family: "Gilroy";
    src: url(../fonts/Gilroy-Heavy.ttf);
    font-weight: 900;
}

@font-face {
    font-family: "Gilroy";
    src: url(../fonts/Gilroy-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: "Gilroy";
    src: url(../fonts/Gilroy-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Gilroy";
    src: url(../fonts/Gilroy-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Gilroy";
    src: url(../fonts/Gilroy-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Gilroy";
    src: url(../fonts/Gilroy-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy";
    src: url(../fonts/Gilroy-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Gilroy";
    src: url(../fonts/Gilroy-UltraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: "Gilroy";
    src: url(../fonts/Gilroy-Thin.ttf);
    font-weight: 100;
}

:root {
    --bg-15: rgb(15, 15, 15);
    --bg-20: rgb(20, 20, 20);
    --bg-25: rgb(25, 25, 25);
    --bg-30: rgb(30, 30, 30);
    --bg-35: rgb(35, 35, 35);
    --bg-40: rgb(40, 40, 40);
    --bg-45: rgb(45, 45, 45);
    --bg-50: rgb(50, 50, 50);
    --bg-55: rgb(55, 55, 55);
    --bg-60: rgb(60, 60, 60);
    --bg-65: rgb(65, 65, 65);
    --bg-70: rgb(70, 70, 70);
    --bg-75: rgb(75, 75, 75);
    --bg-80: rgb(80, 80, 80);
    --bg-85: rgb(85, 85, 85);
    --bg-90: rgb(90, 90, 90);
    --bg-95: rgb(95, 95, 95);
    --bg-100: rgb(100, 100, 100);
    --test-color: rgb(255, 0, 255);
    --text: rgb(222, 222, 222);
    --shadow-value: 10rem;
    --shadow-color: black;
    --expo: cubic-bezier(.19,1,.22,1);
}

*:not(head, script, table, table *) {
    display: flex;
    font-family: "Gilroy";
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: var(--text);
    margin: 0;
    line-height: 1.2;
}

html {
    flex-direction: column;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    background: black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 0 8rem 8rem;
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 0.4rem;
    z-index: 2;
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 2;
    gap: 0.25rem;
    padding: 36vh 0;
    animation: titleFadeIn 2s var(--expo);
    pointer-events: none;
    user-select: none;
}

.logo {
    width: 42vw;
}

h2 {
    font-weight: 800;
    font-size: 2rem;
}

h3 {
    font-weight: 800;
    font-size: 4vw;
    text-transform: uppercase;
    line-height: 0.86;
}

table {
    background: var(--bg-40);
    width: 100%;
}

table * {
    text-align: left;
    white-space: nowrap;
}

table *,
form,
select,
button,
a {
    outline: 2px solid var(--bg-55);
}

thead,
thead tr {
    background: var(--bg-55);
}

th,
td {
    padding: 0.5rem 0.8rem;
}

th {
    font-size: 1.2rem;
    font-weight: 800;
    background-color: var(--bg-50);
}

#parallax {
    will-change: top;
    background: url(../images/deathStar.jpg) center / cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100vh;
}

body::after {
    content: "";
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    box-shadow: inset 0 0 11vw 6vw var(--shadow-color);
    outline: 0rem solid var(--shadow-color);
    pointer-events: none;
    z-index: 10;
}

section {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
}

table {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.75);
}

/* Keyframes */
@keyframes titleFadeIn {
    from {opacity: 0; transform: translateY(100px);}
    to {opacity: 1; transform: translateY(0px);}
}
