<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-white my-5">
        <div class="card-body">
          <div class="text-center">
            <img src="./assets/tbz_logo.png" class="img-fluid" alt="Responsive image">
          </div>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item"><a routerLink="/students" class="btn btn-info"> List Students</a></li>
            <li class="list-inline-item"><a routerLink="/addstudents" class="btn btn-info">Add Students</a></li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
