@import "tailwindcss";

:root {
    --border-width: 1px;
    --icon-size: 1rem;
    --font-size: 17px;
    --font-sans: var(--font-plus-jakarta-sans);
    --font-mono: var(--font-jetbrains-mono);
    --background: var(--color-neutral-50);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--color-neutral-950);
    }
}

@theme inline {
    --hue: 200;
    --sat: 50%;
    --lig: 50%;
    --theme-color: var(--hue), var(--sat), var(--lig);
    --main-background-color: var(--color-neutral-900);
    --border-color: var(--color-neutral-800);
}

@layer base {
    *,
    ::before,
    ::after {
        transition-property: all;
        transition-duration: 0.4s;
        transition-timing-function: cubic-bezier(0.2, 1, 0.2, 1);
    }

    *:focus {
        outline: none;
    }

    html {
        background: var(--background);
        font-size: var(--font-size);
    }

    svg * {
        stroke-width: 30px;
    }

    input {
        padding: 0 !important;
        overflow: visible !important;
    }
}

@layer components {
    /* .completed p {
        color: var(--color-neutral-500) !important;
        font-style: italic;
    }

    .completed p::after {
        width: 100% !important;
        opacity: 1 !important;
    } */

    .action-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: fit-content;
        background: var(--color-neutral-950);
        border: 1px solid var(--color-neutral-800);
        color: var(--color-neutral-200);
        stroke: var(--color-neutral-200);
        fill: var(--color-neutral-200);
        border-radius: 0.375rem;
        padding: 0.2rem;
    }

    /* .action-button svg {
        width: 0.875rem;
    } */

    .action-button:hover {
        cursor: pointer;
    }

    .item {
        display: grid;
        grid-template-columns: max-content max-content 1fr;
        justify-items: end;
        align-items: center;
        width: 26rem;
        gap: 0.5rem;
        padding-block: 0.3rem;
        padding-right: 0.3rem;
        border-bottom: var(--border-width) solid var(--border-color);
    }
}
