@font-face {
    font-family: "QS";
    src: url(Quicksand.ttf);
}

:root {
    --borad: 0.4rem;
    --bg-25: rgb(25, 25, 25);
    --bg-30: rgb(30, 30, 30);
    --bg-35: rgb(35, 35, 35);
    --bg-40: rgb(40, 40, 40);
}

* {
    margin: 0;
    font-family: "QS";
    font-size: 1.2rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    font-size: 16px !important;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-25);
}

.toggle-test {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: filter .15s ease-in-out;
}

.toggle-test:hover {
    cursor: pointer;
    filter: brightness(0.75);
}
